{% extends "base-new.html" %} {% block content %} {% block head %} {{ super() }}
<script src="{{ url_for('static',filename='js/posts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base-new.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/all-posts.css') }}" />

{% endblock %} {% if current_user.is_authenticated %}
<h1 class="title">Welcome, {{ current_user.name }}!</h1>
{% else %}
<h1 class="title">Welcome, to Study Questions!</h1>
{% endif %}
<hr class="rounded" />
<div class="tab">
  <button class="tablinks" onclick="posts(event, 'AllPosts')" id="defaultOpen">
    Forum Posts
  </button>
  <button class="tablinks" onclick="location.href='/posts/submit'">Create Post</button>
  </button>
  <select id="tagFilter">
    <option value="All">All Posts</option>
    <option value="Programming">Programming</option>
    <option value="Science">Science</option>
    <option value="History">History</option>
    <option value="Math">Math</option>
  </select>
</div>

<div id="AllPosts" class="tabcontent">
  <div class="tableFixHead">
    <table id="posts-table">
      <thead>
        <tr>
          <th class="titleName">Title</th>
          <th class="author">Author</th>
          <th class="time">Post Date</th>
          <th class="upvotes">Score</th>
          <th class="postTag">Tags</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script>
  document.getElementById("defaultOpen").click();
</script>
{% endblock %}