{% extends "base-new.html" %} {% block content %} {% block head %} {{super()}}
<script src="{{ url_for('static',filename='js/postView.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base-new.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/post-view.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
<script>
  const post = JSON.parse('{{ data | tojson | replace("\\", "\\\\") }}');

  async function deletePost(uuid, uri) {
    let response = await fetch(`/posts/${uuid}/${uri}/delete/`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json"
      }
    });

    if (response.ok) {
      location.reload();
    }
  }

  async function deleteReply(uuid, uri, r_uuid) {
    let response = await fetch(`/posts/${uuid}/${uri}/reply/`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ "uuid": r_uuid })
    });

    if (response.ok) {
      location.reload();
    }
  }
</script>
<div class="post-container">
  <article>
    <!--This header should be left-aligned-->
    <h1 id="post-title">{{data.title}}</h1>
    <h3 class="post-tags">Tags:{% for tag in data.tags %} {{tag}} {% endfor %}</h1>
      <p id="post-content">{{data.content}}</p>
  </article>
  <div class="post-metric">
    {% set url = url_for('auth_bp.login', next=request.path) %}
    <h3 class="post-votes">
      <span class="{{'upvote' if data['votes'] >= 0 else 'downvote'}}" id="post-vote-count">{{data.votes}}</span>
    </h3>
    {% if not current_user.is_authenticated %}
    <a href="{{ url }}" id="post-upvote" class="fa fa-thumbs-up"></a>
    <a href="{{ url }}" id="post-downvote" class="fa fa-thumbs-down"></a>
    {% else %}
    <button id="post-upvote" class="fa fa-thumbs-up"></button>
    <button id="post-downvote" class="fa fa-thumbs-down"></button>
    {% endif %}
    {% if data.a_uuid == current_user.uuid %}
    <button onclick="deletePost('{{data.uuid}}', '{{data.uri}}')" class="fa fa-trash">
    </button>
    {% endif %}
  </div>
  <main>
    <div class="post-replies-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
      {% endfor %} {% endwith %}
      <form class="post-form" method="post"
        action="{{ url_for('post_bp.add_post_reply', p_uuid=data.uuid, p_uri=data.uri)}}">
        <br />
        <div class="field">
          <div class="control">
            <h3>Post a reply</h3>
            <textarea id="textarea-post-reply" , name="reply-content" cols="120" rows="5"></textarea>
          </div>
        </div>
        <button id="btn-post-reply" class="button is-block is-info is-large is-fullwidth">
          Add Reply
        </button>
      </form>
      <!--This reverse broke before. Keep checking this-->
      {% for reply in data.replies|reverse %}
      <div class="reply-container" id="reply-{{ reply.uuid }}">
        <!--NEED TO ADD URL TO USER PROFILE-->
        <div class="reply-metric">
          <h3 class="reply-votes">
            <span class="{{'upvote' if reply['votes'] >= 0 else 'downvote'}}"
              id="reply-vote-count-{{reply.uuid}}">{{reply.votes}}</span>
          </h3>
          {% if not current_user.is_authenticated %}
          <a href="{{ url }}" id="reply-upvote" class="fa fa-thumbs-up"></a>
          <a href="{{ url }}" id="reply-downvote" class="fa fa-thumbs-down"></a>
          {% else %}
          <button id="btn-upvote-{{ reply.uuid }}" onclick="upvoteReply('{{ reply.uuid }}', post.uri)"
            class="fa fa-thumbs-up {{'upvote' if reply['voteType'] =='UP' }}"></button>
          <button id="btn-downvote-{{ reply.uuid }}" onclick="downvoteReply('{{ reply.uuid }}', post.uri)" class="fa fa-thumbs-down {{'downvote' if reply['voteType'] =='DOWN'
                    }}"></button>
          {% if reply.a_uuid == current_user.uuid %}
          <button onclick="deleteReply('{{data.uuid}}', '{{data.uri}}', '{{reply.uuid}}')" class="fa fa-trash">
          </button>
          {% endif %}
          {% endif %}
          <h2 class="reply-author">{{reply.author}}</h2>
          <p>{{reply.content}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  {% endblock %}
</div>