.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  float: top;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

/* Change the link color to #111 (black) on hover */
.navbar a:hover {
  background-color: #333;
}

.navbar .navbar-brand {
  float: left;
  padding: 0 15px;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
}

body {
  height: 100%;
}

div,
body,
html {
  background-color: #111;
}

.box {
  background-color: #222;
}

.hero .navbar {
  background: black;
}

.hero .navbar-menu {
  background:black;
}

.hero .navbar-end {
  background: inherit;
}

.input::placeholder {
  color: lightgray;
}

.input,
.textarea {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: lightgray;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}
