<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/alerts.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base-new.css') }}" />
  <title>Study Questions</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.frankerfacez.com/emoticon/128054/4" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  {% endblock %}
</head>

<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <a href="{{ url_for('main_bp.index')}}" class="navbar-brand">Study Questions</a>
        <div class="container">
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              {% if current_user.is_authenticated and current_user.is_admin()
              %}
              <a href="/admin"> Admin </a>
              {% endif %} {% if not current_user.is_authenticated %}
              <a href="{{ url_for('auth_bp.login', next=request.path) }}">
                Login
              </a>
              <a href="{{ url_for('auth_bp.signup') }}"> Sign Up </a>
              {% endif %} {% if current_user.is_authenticated %}
              <a href="{{ url_for('auth_bp.logout') }}" class="navbar-item">
                Logout
              </a>
              <a href="{{ url_for('main_bp.profile') }}" class="navbar-item">
                Profile
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        {% block content %} {% endblock %}
      </div>
    </div>
  </section>
</body>

</html>