{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <img
        src="https://external-preview.redd.it/8hNGPm9YkRYmFBZFwpxOoWLaldxpZIPBdBAqrxzM_z0.png?format=pjpg&auto=webp&s=351688b4916a8955ad91dbd866612e087913b9f4"
        alt="xQc_img"
      />
    </div>
  </div>
  <h1 class="title">Welcome to xQc Questions</h1>
  <h2 class="subtitle">Hello, {{ current_user.name }}</h2>

  {% endblock %}
</div>
